@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
	margin: 0;
	font-family: 'Manrope', --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--width: 1200px;
	--text-light: #eee5e9;
	--text-dark: #383d36;
	--text: var(--text-light);
	--section-spacing: 16px;
	--logo-height: 55px;
	--text-accent: #afe9c6;
	--text: #eee5e9;
	--bg: #041404;
	--fg: rgb(50, 80, 81);
	background-color: var(--bg);
	color: var(--text);
}

td {
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	padding: 50px;
	text-align: center;
}
thead {
	color: var(--text-accent);
	white-space: 50px;
}

:root {
	scroll-behavior: smooth;
	color-scheme: dark;
}

* {
	box-sizing: border-box;
	word-wrap: break-word;
}

a {
	color: inherit;
}

.😡 {
	display: none;
}
